parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
        - coverage
        - .phpunit.cache
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanDirectories:
        - vendor/php-stubs/wordpress-stubs
    ignoreErrors:
        # Defensive programming: checking types even when PHPDoc guarantees them
        - '#Right side of && is always true#'
